In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)

In [2]:
out_df= pd.read_csv(r"C:\Users\shvpr\Documents\task\out.csv")
sample_df = pd.read_csv(r"C:\Users\shvpr\Documents\task\sample.csv")

FileNotFoundError: [Errno 2] File C:\Users\shvpr\Documents\task\out.csv does not exist: 'C:\\Users\\shvpr\\Documents\\task\\out.csv'

In [127]:
out_df.head()

                         patient_id date_of_admission   amount  medical_history_1  medical_history_2  medical_history_3  medical_history_4  medical_history_5  medical_history_6  medical_history_7  preop_medication_1  preop_medication_2  preop_medication_3  preop_medication_4  preop_medication_5  preop_medication_6  symptom_1  symptom_2  symptom_3  symptom_4  symptom_5  lab_result_1  lab_result_2  lab_result_3  weight  height  medical_history  preop_medication  symptoms  days_in_hospital
0  00225710a878eff524a1d13be817e8e2        2014-04-10   5191.0                  0                0.0                  0                  0                0.0                  0                  1                   0                   0                   0                   1                   0                   0          0          0          1          0          0          13.4          27.9            96    66.9     155                1                 1         1                12
1  0029d90eb654699c18001c17efb0f129        2012-11-07  22602.0                  0                1.0                  0                  0                0.0                  1                  0                   0                   0                   0                   0                   1                   0          0          1          0          0          1          16.7          26.5           109    89.1     160                2                 1         2                13
2  0040333abd68527ecb53e1db9073f52e        2013-01-19  17448.0                  0                1.0                  0                  0                0.0                  0                  1                   0                   0                   1                   1                   1                   0          0          1          0          0          1          14.8          25.2            96    79.5     172                2                 3         2                12
3  00473b58e3dc8ae37b3cb34069705083        2014-02-10  15286.0                  1                0.0                  0                  0                0.0                  0                  0                   0                   0                   1                   1                   1                   0          0          1          1          1          0          14.9          28.7           122    81.1     160                1                 3         3                 5
4  0078662d1d983dde68ea057c42d5b5cf        2012-04-28  73478.0                  0                1.0                  0                  0                0.0                  1                  0                   1                   0                   1                   1                   1                   0          0          1          0          1          1          14.2          27.2            89    74.7     173                2                 4         3                12

In [128]:
#out_df[out_df['amount'] == out_df['amount'].max()].index
#out_df.drop(out_df[out_df['amount'] == out_df['amount'].max()].index, inplace=True)

In [129]:
out_df['patient_id'].nunique()

3000

In [130]:
sample_df['patient_id'].nunique()

3000

In [131]:
final = pd.merge(sample_df,out_df,how='left',on='patient_id')

In [132]:
final.head()

,patient_id,amount_x,gender,race,resident_status,date_of_birth,age,date_of_admission,amount_y,medical_history_1,medical_history_2,medical_history_3,medical_history_4,medical_history_5,medical_history_6,medical_history_7,preop_medication_1,preop_medication_2,preop_medication_3,preop_medication_4,preop_medication_5,preop_medication_6,symptom_1,symptom_2,symptom_3,symptom_4,symptom_5,lab_result_1,lab_result_2,lab_result_3,weight,height,medical_history,preop_medication,symptoms,days_in_hospital
0,00225710a878eff524a1d13be817e8e2,5191.0,f,chinese,singaporean,1983-01-16,37,2014-04-10,5191.0,0,0.0,0,0,0.0,0,1,0,0,0,1,0,0,0,0,1,0,0,13.4,27.9,96,66.9,155,1,1,1,12
1,0029d90eb654699c18001c17efb0f129,22602.0,f,chinese,singaporean,1943-10-14,76,2012-11-07,22602.0,0,1.0,0,0,0.0,1,0,0,0,0,0,1,0,0,1,0,0,1,16.7,26.5,109,89.1,160,2,1,2,13
2,0040333abd68527ecb53e1db9073f52e,17448.0,m,indian,singaporean,1972-08-26,47,2013-01-19,17448.0,0,1.0,0,0,0.0,0,1,0,0,1,1,1,0,0,1,0,0,1,14.8,25.2,96,79.5,172,2,3,2,12
3,00473b58e3dc8ae37b3cb34069705083,15286.0,f,chinese,singapore citizen,1976-07-23,43,2014-02-10,15286.0,1,0.0,0,0,0.0,0,0,0,0,1,1,1,0,0,1,1,1,0,14.9,28.7,122,81.1,160,1,3,3,5
4,0078662d1d983dde68ea057c42d5b5cf,73478.0,m,malay,foreigner,1942-10-19,77,2012-04-28,73478.0,0,1.0,0,0,0.0,1,0,1,0,1,1,1,0,0,1,0,1,1,14.2,27.2,89,74.7,173,2,4,3,12

In [133]:
len(final)

4244

The boolean data columns are added and represented as a count how many times they occur, since they
only denote presence or absence of the variable. Later, the boolean columns are dropped.

In [134]:
final = final.drop_duplicates(subset=['patient_id'])
final = final.drop(['date_of_birth','amount_y'],axis=1)
final = final.rename(columns = {'amount_x' : 'amount'})

In [135]:
cols=['patient_id','date_of_admission','medical_history_1','medical_history_2',\
     'medical_history_3','medical_history_4','medical_history_5','medical_history_6',\
     'medical_history_7','preop_medication_1','preop_medication_2','preop_medication_3',\
     'preop_medication_4','preop_medication_5','preop_medication_6']

In [136]:
df = final.drop(cols,axis=1)

In [137]:
name_cols = ['symptom_1','symptom_2','symptom_3','symptom_4','symptom_5','lab_result_2','lab_result_3']

In [138]:
final_prepared = df.drop(name_cols,axis=1)

The data columns which happened to be more correlated to the target output 'amount' were only retained.

In [139]:
final_prepared.head()

    amount gender     race    resident_status  age  lab_result_1  weight  height  medical_history  preop_medication  symptoms  days_in_hospital
0   5191.0      f  chinese        singaporean   37          13.4    66.9     155                1                 1         1                12
1  22602.0      f  chinese        singaporean   76          16.7    89.1     160                2                 1         2                13
2  17448.0      m   indian        singaporean   47          14.8    79.5     172                2                 3         2                12
3  15286.0      f  chinese  singapore citizen   43          14.9    81.1     160                1                 3         3                 5
4  73478.0      m    malay          foreigner   77          14.2    74.7     173                2                 4         3                12

In [140]:
# Now split the data into train and test
import sklearn
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(final_prepared, test_size=0.2, random_state=42)

In [141]:
# clearly taking the training data features in X_train and labels into X_train_labels
# similar  task for test data
X_train = train_set.drop('amount',axis = 1)
X_train_labels = train_set['amount']
X_test = test_set.drop('amount',axis=1)
X_test_labels = test_set['amount']

In [142]:
from sklearn.base import BaseEstimator, TransformerMixin
#from sklearn.impute import SimpleImputer

cat_feature_names = ['ocean_proximity']
class FeaturesSelector(BaseEstimator,TransformerMixin):
    
    def __init__(self,feature_names):
        self.feature_names=feature_names
        
        
    def fit(self,X,y=None):
        return self
    
    
    def transform(self,X,y=None):
        return X[self.feature_names]
    
#sel = FeaturesSelector(cat_feature_names)
#sel.transform(df)
#print(sel)
#print(sel._init_())

In [143]:
from sklearn.pipeline import Pipeline, FeatureUnion
#from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

num_feature_names = ['weight','height', 'medical_history', 'preop_medication', 'symptoms', 'days_in_hospital','lab_result_1']

cat_feature_names = ['gender', 'race', 'resident_status']

num_pipeline = Pipeline(steps=[
    ('selector', FeaturesSelector(num_feature_names)),
    ('std_scaler', StandardScaler()),
    
])

cat_pipeline = Pipeline(steps=[
    ('selector', FeaturesSelector(cat_feature_names)),
    ('one_hot_encoder', OneHotEncoder(sparse= False))
])

full_pipeline = FeatureUnion(transformer_list=[
    ('num_pipeline', num_pipeline),
    ('cat_pipeline', cat_pipeline),
])

In [144]:
import warnings
warnings.filterwarnings('ignore')
final_output=full_pipeline.fit_transform(X_train)

In [145]:
final_output.shape

(2400, 17)

In [146]:
from sklearn.linear_model import LinearRegression
lin_alg = LinearRegression()
lin_alg.fit(final_output,X_train_labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [147]:
test_data_prepared = full_pipeline.transform(X_test)
data_predict=lin_alg.predict(test_data_prepared)

In [148]:
example_df=pd.DataFrame({'actual_values':X_test_labels,'predicted_values': data_predict})

In [149]:
example_df.head()

      actual_values  predicted_values
2517        46010.0      43209.153751
1636        20253.0      32636.805371
2536        26738.0      28471.322923
337         38174.0      35186.561717
3544        20059.0      20151.465015

In [161]:
# mean square error calculation of the train data
from sklearn.metrics import mean_squared_error
#X_train_labels = X_train_labels.reshape(-1,1)
train_predictions = lin_alg.predict(final_output)
lin_mse_train = mean_squared_error(X_train_labels,train_predictions)
lin_rmse_train  = np.sqrt(lin_mse)
lin_mse_test = mean_squared_error(X_test_labels,data_predict)
lin_rmse_train  = np.sqrt(lin_mse_train)
lin_rmse_test  = np.sqrt(lin_mse_test)
print("The train RMSE is {:.3f}".format(lin_rmse_train))
print("The test RMSE is {:.3f}".format(lin_rmse_test))

The train RMSE is 10342.267
The test RMSE is 10734.395

In [163]:
# using cross validation on the clinical data set
# calculating the rmse scores for 10 folds...we get 10 mses'
# using the algorithm linear regression
from sklearn.model_selection import cross_val_score
scores = cross_val_score(lin_alg,final_output,X_train_labels,scoring="neg_mean_squared_error",cv=10)
lin_rmse_scores =np.sqrt(-scores)
def display_scores(scores):
    print('Scores : ', scores)
    print('Mean : ',scores.mean())
    print('Standard_deviation : ',scores.std())
    
display_scores(lin_rmse_scores)

Scores :  [ 9858.21043558  9627.235767   10407.50587623  9604.05600335
 11033.39638726 11866.88565948  9300.95135882 13543.64604913
  9607.9915189   8429.73479505]
Mean :  10327.961385080609
Standard_deviation :  1400.891622745476

In [164]:
# using cross validation on the clinical data set
# calculating the rmse scores for 10 folds...we get 10 mses'
# using the algorithm linear regression
# use the randomforest regressor algorithm
from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor()
forest_reg.fit(final_output,X_train_labels)
scores_forest=cross_val_score(forest_reg,final_output,X_train_labels,scoring="neg_mean_squared_error",cv=10)
forest_reg_rmses = np.sqrt(-scores_forest)
display_scores(forest_reg_rmses)

Scores :  [11144.23978994 10907.53109643 12283.29253687 11206.16421681
 11649.78769894 12767.84627169 10061.56717933 14261.61097928
 10857.38102236  8971.27482815]
Mean :  11411.069561980516
Standard_deviation :  1386.767825396266

In [165]:
from sklearn.model_selection import GridSearchCV

param_grid = [
    {'n_estimators':[3,10,30],'max_features':[2,4,6,8]},
    {'bootstrap':[False],'n_estimators':[3,10],'max_features':[2,3,4]}
]

forest_reg = RandomForestRegressor()

grid_search = GridSearchCV(forest_reg,param_grid = param_grid,cv=5,scoring = 'neg_mean_squared_error')
grid_search.fit(final_output,X_train_labels)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8]}, {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [166]:
grid_search.best_params_

{'max_features': 6, 'n_estimators': 30}

In [168]:
# using cross validation on the clinical data set
# calculating the rmse scores for 10 folds...we get 10 mses'
# using the algorithm linear regression
# use the randomforest regressor algorithm
from sklearn.svm import SVR
sv_reg = SVR(kernel='rbf',gamma='scale',C=1.0)
sv_reg.fit(final_output,X_train_labels)
scores_sv=cross_val_score(sv_reg,final_output,X_train_labels,scoring="neg_mean_squared_error",cv=10)
sv_reg_rmses = np.sqrt(-scores_sv)
display_scores(sv_reg_rmses)

Scores :  [12551.26511851 13554.32442954 14414.29859885 12386.60106328
 14521.16500548 15350.0035303  13429.51889183 18069.50217634
 13558.76377248 12894.52147975]
Mean :  14072.996406635644
Standard_deviation :  1594.241684786082

Looking at the aboves scores by applying the cross validation on the train data,
we see that linear regression model is best fit for the data.
Improvisation can be done by consider the boolean variables alone and also more 
information about the features such as lab_result_1,lab_result_2,lab_result_3...could be gathered
and processed accordingly.